@import "normalize.css";

.Container{
    background-color: aqua;
    margin: 120px;
    margin-top: 70px;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    grid-template-columns:  1fr;
    grid-template-areas: 
    'Kopf'
    'Navigation'
    'Text'
    'Fussbereich'
    ;
}

.Navigationblock{
    display: inline-block;
    width: fit-content;
    height: max-content;
    margin : 20px;
}

header{
    grid-area: Kopf;

}
nav{
    grid-area: Navigation;
}
Content{
    grid-area: Text;
}
footer{
    grid-area: Fussbereich;
}